android/.idea/.gitignore
android/.idea/compiler.xml
android/.idea/gradle.xml
android/.idea/jarRepositories.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/vcs.xml
android/.idea/libraries/Gradle_______build_app_intermediates_flutter_debug_libs_jar.xml
android/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
android/.idea/libraries/Gradle__androidx_annotation_annotation_1_2_0.xml
android/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
android/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
android/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
android/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
android/.idea/libraries/Gradle__androidx_core_core_1_6_0_aar.xml
android/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
android/.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_2_0.xml
android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_java8_2_2_0.xml
android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_2_0_aar.xml
android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
android/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
android/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
android/.idea/libraries/Gradle__androidx_tracing_tracing_1_0_0_aar.xml
android/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
android/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
android/.idea/libraries/Gradle__io_flutter_arm64_v8a_debug_1_0_0_890a5fca2e34db413be624fc83aeea8e61d42ce6.xml
android/.idea/libraries/Gradle__io_flutter_armeabi_v7a_debug_1_0_0_890a5fca2e34db413be624fc83aeea8e61d42ce6.xml
android/.idea/libraries/Gradle__io_flutter_flutter_embedding_debug_1_0_0_890a5fca2e34db413be624fc83aeea8e61d42ce6.xml
android/.idea/libraries/Gradle__io_flutter_x86_64_debug_1_0_0_890a5fca2e34db413be624fc83aeea8e61d42ce6.xml
android/.idea/libraries/Gradle__io_flutter_x86_debug_1_0_0_890a5fca2e34db413be624fc83aeea8e61d42ce6.xml
android/.idea/modules/android.iml
android/.idea/modules/app/android.app.iml
