<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182768079246-2rp8i518lgbcalhcmtbaadannr96a6nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182768079246-2rp8i518lgbcalhcmtbaadannr96a6nr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>182768079246-0rpk9i6j3vh5ea0hrffc24dnt585rmni.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Tn0XOGdmL6ltWcC6zzrbrpg1_jkvpcg</string>
	<key>GCM_SENDER_ID</key>
	<string>182768079246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanga.measurement</string>
	<key>PROJECT_ID</key>
	<string>kanga-c66ec</string>
	<key>STORAGE_BUCKET</key>
	<string>kanga-c66ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182768079246:ios:b750366bc969b9fd6f54df</string>
</dict>
</plist>